.feature-section__title.MuiTypography-root {
  margin-bottom: 1.8rem;
  text-align: center;

  @media (max-width: 1023px) and (min-width: 640px) {
    font-size: 1.7rem;
  }
  @media (max-width: 640px) {
    font-size: 1.5rem;
  }
}

.feature-section__cards-wrapper.MuiStack-root {
  align-items: center;
  gap: 28px;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: stretch;
    gap: 32px;
  }
}

.feature-card.MuiPaper-root {
  width: 400px;

  @media (max-width: 640px) {
    width: auto;
    max-width: 400px;
  }
}

.feature-card-divder.MuiBox-root {
  margin: 7px 0;
  height: 1px;
}

.feature-card__title.MuiTypography-root {
  text-align: center;
  @media (max-width: 1024px) and (min-width: 640px) {
    font-size: 1.1rem;
  }

  @media (max-width: 640px) {
    font-size: 1rem;
    font-weight: 700;
  }
}
