@use '../../../../vars-mixins.scss' as mixins;

.user-btns-wrapper {
  gap: 4px;
  padding-top: 8px;
  flex-wrap: wrap;
}

.btn-assign.MuiAvatar-root {
  @include mixins.avatar-small;
  font-size: 1.3rem;
  background-color: #3f6cc0;

  &:hover {
    background-color: #1976d2;
  }
}
