@import './vars-mixins.scss';

.btn-min-height {
  min-height: $btn-min-height;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: $edit-button-color;
}
