$board-width: 400px;
$board-height: 230px;
$secondary-button-color: #303f9f;
$edit-button-color: rgb(155, 187, 255);
$delete-button-color: rgb(255, 155, 155);
$error-color: rgb(255, 0, 0);
$modal-header-font: 1rem;

$shadow-gradient: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.5) 0%,
  rgba(42, 28, 28, 0.2) 30%,
  rgba(0, 0, 0, 0) 100%
);

$shadow-button: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

$btn-min-height: 36.5px;

@mixin board-sizes {
  width: $board-width;
  height: $board-height;
}

@mixin avatar-small {
  width: 28px;
  height: 28px;
  font-size: 0.8rem;
  cursor: pointer;
}

@mixin avatar-medium {
  width: 34px;
  height: 34px;
  font-size: 0.9rem;
}

@mixin avatar-large {
  width: 90px;
  height: 90px;
  font-size: 2.2rem;
  margin-left: -10px;
  margin-top: 7px;
}

@mixin btn-close {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    fill: #ff0000cc;
  }
}
