.create-board {
  .MuiPaper-root {
    width: 360px;
  }

  .create-board__ {
    &title {
      font-size: 1rem;
      padding: 6px;
      text-align: center;
    }

    &preview {
      height: 200px;
      background-size: cover;
    }
  }

  label,
  .MuiInputBase-root {
    font-size: 0.9rem;
  }
}

.background-change__wrapper {
  margin: 12px 0 20px 0;

  button {
    line-height: 1.5;
    font-size: 0.75rem;
    background: linear-gradient(
      0deg,
      rgba(32, 120, 167, 1) 0%,
      rgba(191, 191, 191, 1) 100%
    );
  }
}
