.profile {
  &__body {
    margin-top: 15vh;
  }

  &__header {
    padding: 30px 0 18px 0;
    text-align: center;
  }

  &__credentials-wrapper {
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }

  &__name,
  &__email {
    width: 210px;
  }

  &__btn-delete.MuiButtonBase-root,
  &__btn-edit.MuiButtonBase-root {
    width: 320px;
  }

  &__btn-delete.MuiButtonBase-root {
    padding: 3px;
  }
}

@media (max-width: 700px) {
  #profile .avatar-large {
    width: 80px;
    height: 80px;
    margin-left: 5px;
    font-size: 2rem;
  }

  .profile {
    .MuiStack-root &__body-wrapper {
      gap: 10px;
      font-size: 1.1rem;
      margin-left: 10px;
    }

    &__btn-delete.MuiButtonBase-root,
    &__btn-edit.MuiButtonBase-root {
      width: 310px;
      font-size: 0.78rem;
    }

    &__name,
    &__email {
      width: 210px;
    }
  }
}

@media (max-height: 600px) {
  .profile__body {
    margin-top: 0;
  }
}
