@use '../../../vars-mixins.scss' as vars;

.avatar-small.MuiAvatar-colorDefault,
.avatar-group .MuiAvatar-root {
  @include vars.avatar-small;
}

.avatar-group :not(.avatar-small) {
  cursor: default;
}

.avatar-large.MuiAvatar-colorDefault {
  @include vars.avatar-large;
}

.modal-profile {
  .MuiDialogContent-root {
    padding: 13px;
    margin: 0;
  }

  .btn-close {
    @include vars.btn-close;
    fill: #ffffff;
  }

  &__header {
    width: 280px;
    height: 92px;
    background-color: #1976d2;
  }

  &__user-name {
    color: #ffffff;
    padding: 15px 0 40px 10px;
    align-self: center;
  }

  .unassign-btn {
    padding-top: 33px;
    transition: color 0.2s;
    cursor: pointer;
    &:hover {
      color: #303f9f;
    }
  }
}
