@import '../../vars-mixins.scss';

.board-page {
  height: calc(100vh - 50px);
  background-size: cover;
  background-position: center;

  &__subheader {
    width: 100%;
    position: fixed;
    top: 50px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(42, 28, 28, 0.2) 40%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &__title {
    color: #f3f3f3;
    min-width: 50%;
  }

  .btn-back {
    height: fit-content;
    min-width: 90px;
    margin: 3px 12px 0 0;
  }

  &__columns-wrapper {
    height: 100%;
    padding: 75px 16px;
    overflow-x: auto;
  }

  .btn-create-column {
    background-color: $secondary-button-color;
    align-self: baseline;
    min-width: max-content;
  }
}

.board-not-found {
  margin: calc(25vh - 50px) auto;
  @include board-sizes;
  font-size: 1.2rem;
  padding-top: calc($board-height / 2 - 12px);
  background-color: rgb(247, 247, 247);
  color: $error-color;
  box-shadow: $shadow-button;
  text-align: center;
}

@media (max-width: 700px) {
  .board-page {
    h1 {
      font-size: 1.3rem;
    }

    .btn-back {
      height: fit-content;
      min-width: 75px;
    }

    .btn-back,
    .btn-create-column {
      font-size: 0.7rem;
    }
  }
}
