@import '../../../vars-mixins.scss';

.edit-board {
  .MuiPaper-root {
    width: 360px;
  }

  .edit-board__ {
    &title {
      font-size: $modal-header-font;
      padding: 6px;
      text-align: center;
    }

    &preview {
      height: 200px;
      background-size: cover;
    }
  }

  label,
  .MuiInputBase-root {
    font-size: 0.9rem;
  }
}

.btn-modal {
  height: 33px;
}
