.choose-image {
  &.MuiDialog-root {
    left: calc(35vw - 50px);
  }

  &__image {
    width: 200px;
    height: 140px;
    cursor: pointer;
    &:hover {
      filter: brightness(0.9);
      transform: scale(1.02);
      transition: all 0.2s;
    }
  }

  &__btn-wrapper {
    padding: 12px 0;
  }

  &__mini-image {
    width: 100px;
    height: 60px;
    background-size: cover;
    cursor: pointer;
    &:hover {
      filter: brightness(0.9);
      transform: scale(1.02);
      transition: all 0.2s;
    }
  }

  &__btn-more {
    width: 50px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    &:hover {
      background-color: rgb(233, 233, 233);
      cursor: pointer;
    }
  }

  .load-more-btn {
    background-color: #f3f3f3;
    padding: 1px;
    max-height: 18px;
    color: #858570;
    &:hover {
      background-color: #e6e6e6;
    }
  }
}

@media ((max-width: 1024px) and (min-width: 700px)) {
  .choose-image.MuiDialog-root {
    left: calc(70vw - 100px);
  }
}

@media (max-width: 700px) {
  .choose-image.MuiDialog-root {
    left: calc(40vw - 100px);
  }
}
