@import '../../vars-mixins.scss';

#main {
  width: 100%;
  height: calc(100vh - 50px);
  overflow: auto;

  h1 {
    font-size: 1.7rem;
  }

  .btn-main {
    width: 60px;
    height: 55px;
    background: linear-gradient(
      0deg,
      rgba(45, 180, 253, 1) 0%,
      rgba(34, 174, 195, 1) 100%
    );
    cursor: default;
  }

  .btn-create-board {
    @include board-sizes;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(25 118 161);
    box-shadow: $shadow-button;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: rgb(230, 230, 230);
    }
  }

  .boards-unavailable {
    @include board-sizes;
    font-size: 1.2rem;
    padding-top: calc($board-height / 2 - 12px);
    background-color: rgb(247, 247, 247);
    color: $error-color;
    box-shadow: $shadow-button;
    text-align: center;
  }
}
