.start-screen {
  height: calc(100vh - 50px);

  @media (max-aspect-ratio: 8/5) {
    height: 70vh;
  }

  @media (max-aspect-ratio: 1) {
    height: 50vh;
  }

  @media (max-aspect-ratio: 2/3) {
    height: 30vh;
  }
}

.start-screen {
  &__wrapper.MuiPaper-root {
    position: relative;
    width: 50vw;
    box-shadow: none;
    overflow: hidden;
  }

  &__logo.MuiCardMedia-root {
    position: absolute;
    top: -30%;
    left: 13%;
    width: 80%;
  }
}
